<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Pharmacie</title>

    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>


<body>


<nav>

    <h2>💊 Gestion Pharmacie</h2>

    <div>
        <a href="/">Accueil</a>
        <a href="/produits-page">Produits</a>
        <a href="/produits/ajouter">Ajouter Produit</a>
    </div>

</nav>



<section class="home">

    <h1>Bienvenue dans l'application Gestion Stock Pharmacie</h1>

    <p>
        Cette application permet de gérer les produits,
        catégories, fournisseurs et détails des médicaments.
    </p>


    <a class="btn" href="/produits-page">
        Voir les produits
    </a>


</section>


</body>

</html>